node_modules
.next
.git
.gitignore
.env
.env.local
Dockerfile
.dockerignore
prisma-err.txt
prisma-error.log
prisma-out.txt
prisma.log
generate_error.txt
mongodb_data
tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
README.md
